* {
    margin: 0px;
    }
    
    body, html {
        width: 100%;
        height:100%;
    }

    .topnav {
        width: 100%;
        background-color: #e9e9e9;
        height: 5vh;
        margin:0px;
        display: flex;
        flex-flow:row nowrap ;
        justify-content: space-around;
    }
    .box {       
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav1 { width: 10vw;
    }
    .fa-bars{
        max-width: 50%;
        color: black;
        font-size: 3vw;
    }
    .logo {
        width: 10vw;
    }
    i {
        max-width: 50%;
        color:red;
        font-size: 3vw;
    }
    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
    }

    input[type=text] {
        height: 3vh;
        width: 50vw;
        font-size: 20px;
    }
    .nav2{
        width: 40vw;
    }
    .radius1 {
        max-width: 50%; 
        border: 10px solid black;
        border-radius: 100%;
    }
    .vertical-menu {
        margin: 5px;
        width: 15%;
        margin-top: 10px;
        margin-right: 5px;
            
    }
    .container {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-content: stretch;

    }
    .vertical-menu a {
        border: 3px solid white;
        background-color: #e9e9e9;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
    }
    .video-grid {
        display: flex;
        
        }
    
    
    .video {
        max-width: 50%; 
        
        height: 250px;
        width: 100%;
        margin-bottom: 30px;
    }
    iframe {
        height: 250px;
        width: 300px;
    }

@media only screen and (min-width: 320px),(max-width: 425px) {
        .vertical-menu {
        display: none;
    }
    .video-grid {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (min-width: 426px){
    .vertical-menu {
        display: block;
    } 
    .video-grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;    
       align-items: start;  
    }
    .video {
       
            margin: 3px;
            height: 250px;
            width: 300px;
            margin-bottom: 30px;
        }
    }
    iframe a {
        height: 250px;
        width: 300px;    
    }
    
}
